h1 {
  font-family: 'Dela Gothic One', cursive;
  font-style: normal;
  font-weight: 800;
  word-break: normal;
  hyphens: auto;
  text-align: center;
}

body {
  background-color: #0066ff;
  color: white;
}
